@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lunasima:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Yuji+Mai&display=swap");

body {
  font-family: "Raleway", serif;
  margin: 0;
  padding: 0;
}

.intro {
  padding: 16px;
  height: 21vh;
  display: flex;
  align-items: center;
}

.intro > div {
  height: 16vh;
  display: flex;
  margin: 15px;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
  text-shadow: 6px 8px 7px rgb(1.3, 1.3, 1.2, 0.3);
  white-space: nowrap;
  overflow: hidden;
  animation: blink 1s steps(2, start) 3 forwards;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}

.contactMe {
  position: relative;
  top: 30px;
  display: flex;
  gap: 15px;
  width: 98%;
  padding: 10px;
  height: 30vh;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.flex {
  display: flex;
  gap: 24px;
}

.flex a {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.flex:hover a {
  opacity: 0.5;
}

.flex a:hover {
  opacity: 1;
}

/* .flex a:hover~a,
.flex a:not(:hover) {
  opacity: 0.5;
} */

body::-webkit-scrollbar {
  width: 0.6em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #a8a2a2;
}

@media (max-width: 768px) {
  .intro {
    margin-top: 10px;
    height: 6vh;
    display: flex;
    align-items: center;
  }

  .intro > div {
    height: 4vh;
    display: block;
    margin: 15px;
    font-size: 1.2rem;
    font-weight: bolder;
  }
  .contactMe > h1 {
    height: 50px;
    font-size: 1.7rem;
    font-weight: 600;
  }
  .flex {
    gap: 12px;
  }
}
