.aboutSec {
    height: 36vh;
    width: auto;
    font-weight: bold;
    padding: 0px 43px
}

@media (max-width:786px) {
    .aboutSec {
        height: 54vh;
        width: auto;
        font-weight: bold;
        padding: 0px 20px;
    }
    .aboutSec>p {
        font-weight: 600;
    }
}